.block-11 {
  padding-bottom: 50px;
}

.inst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  &-logo-set {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: center;
    }

    >div {
      margin-right: 45px;

      @include media-breakpoint-down(lg) {
        margin-right: 20px;
      }
      @include media-breakpoint-down(xs) {
        margin: 0 0 15px;
      }
    }
  }

  &-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 2px;

    @include media-breakpoint-down(sm) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 4px;
    }

    img {
      width: 100%;
    }

    &-row {
      @extend .row;
      margin: 0;

    }
  }
}