.block-6 {
  padding-bottom: 40px;
}

.my-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.steps-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps {
  background: #fafafa;
  padding: 30px 0;
}

.steps-item {
  @extend .gp-m;
  display: flex;
  align-items: center;

  &__position {
    width: 36px;
    height: 36px;
    margin-right: 45px;
    background: #c1c1c1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 16px;
      line-height: 1;
      margin: 0;
      color: #fff;
      transform: translateY(1px);
    }
  }

  &__title {
    p {
      font-size: 15px;
      margin: 0;
      color: rgba(0,0,0, 0.5);
    }
  }

  &.active {

    .steps-item {
      &__position {
        background: #000;
      }

      &__title {
        p {
          color: #0b0c0d;
        }
      }
    }
  }
}

.step-block {
  padding-top: 50px;
}

.dress {

  &-title {
    @extend .gp-m;
    font-size: 12px;
    color: #bababa;
    margin-bottom: 40px;

    &-xs {
      font-size: 10px
    }
  }

  &-item {
    margin-bottom: 20px;

    input {
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
      position: absolute;
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        @extend .gp-m;
        display: inline-block;
        font-size: 12px;
        color: #636363;

        &:first-child {
          margin-right: 40px;
        }

        svg {
          width: 50px;
          height: 50px;
          fill: #e5e5e5;
        }
      }
    }

    input[type=radio]:checked + label {

      span {
        color: #000;

        svg {
          fill: #000;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-option {

    &__title {
      @extend .gp-n;
      font-size: 12px;
      margin: 0;
      color: #a6a6a6;
      margin-bottom: 65px;
    }
  }
}

.color {

  &-set {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &-item {
    margin-right: 23px;

    input {
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
      position: absolute;
    }

    label {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin: 0;
    }

    input[type=radio]:checked + label {
      &:before {
        content: '';
        width: 15px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -6px;
        margin-left: -7px;
        background: url(../images/color-check.png) no-repeat center center;
        z-index: 5;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.black {
  background: #000;
}
.gray {
  background: #666;
}

.red {
  background: #df0905;
}

.blue {
  background: #179bd5;
}

.pink {
  background: #ff9898;
}

.green {
  background: #00cc65;
}

.grad {
  background: #fff;
  border: 1px solid #e6e6e6;
  overflow: hidden;

  .half-black {
    width: 50px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: -5px;
  }
}

.step-next {
  display: flex;
  align-items: center;
  margin-bottom: 23px;

  p {
    margin-left: 30px;
  }
}

.size-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb-25 {
  margin-bottom: 25px;
}

.reset-margin {
  margin: 0;
}

.photo-item {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  
}