.block-6 {
  padding-bottom: 40px;
  border-top: 1px solid #f3f3f3;
}

.my-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.steps-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.steps {
  background: #fafafa;
  padding: 30px 0;
}

.steps-item {
  @extend .gp-m;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;

    &:last-child {
      margin: 0;
    }
  }

  &__position {
    width: 36px;
    height: 36px;
    min-width: 36px;
    margin-right: 15px;
    background: #c1c1c1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
      width: 30px;
      height: 30px;
      min-width: 30px;
      margin-right: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1;
      margin: 0;
      color: #fff;
      transform: translateY(1px);

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }
  }

  &__title {
    p {
      font-size: 15px;
      margin: 0;
      color: rgba(0,0,0, 0.5);

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }
  }

  &.active {

    .steps-item {
      &__position {
        background: #000;
      }

      &__title {
        p {
          color: #0b0c0d;
        }
      }
    }
  }
}

.step-block {
  padding-top: 50px;

  &-row {
    margin-bottom: 45px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 25px;
    }
  }
}

.dress {

  &-title {
    @extend .gp-m;
    font-size: 12px;
    color: #bababa;
    margin-bottom: 40px;

    &-xs {
      font-size: 10px
    }
  }

  &-item {
    margin-bottom: 20px;

    input {
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
      position: absolute;
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        @extend .gp-m;
        display: inline-block;
        font-size: 12px;
        color: #636363;

        &:first-child {
          margin-right: 40px;
        }

        svg {
          width: 50px;
          height: 50px;
          fill: #e5e5e5;
        }
      }
    }

    input[type=radio]:checked + label {

      span {
        color: #000;

        svg {
          fill: #000;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-option {

    .has-danger {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
    
    &__title {
      @extend .gp-n;
      font-size: 12px;
      margin: 0;
      color: #a6a6a6;
      margin-bottom: 65px;
    }
  }
}

.color {

  &-set {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-item {
    margin-right: 23px;
    margin-bottom: 10px;

    .black {
      background: #000;
    }

    input {
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
      position: absolute;
    }

    label {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin: 0;
    }

    input[type=radio]:checked + label {
      &:before {
        content: '';
        width: 15px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -6px;
        margin-left: -7px;
        background: url(../images/color-check.png) no-repeat center center;
        z-index: 5;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.black {
  background: #000;
}

.gray {
  background: #666;
}

.red {
  background: #df0905;
}

.blue {
  background: #179bd5;
}

.pink {
  background: #ff9898;
}

.green {
  background: #00cc65;
}

.grad {
  background: #fff;
  border: 1px solid #e6e6e6;
  overflow: hidden;

  .half-black {
    width: 50px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: -5px;
  }
}

.step-next {
  display: flex;
  align-items: center;
  margin-bottom: 23px;

  p {
    margin-left: 30px;
  }
}

.size-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include media-breakpoint-down(xs) {
    justify-content: flex-start;
  }

  .btn-light {
    @include media-breakpoint-down(xs) {
      margin: 0 20px 20px 0;
    }
  }

  input {
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
  }

  input[type=radio]:checked + label {
    background: #313131;
    color: #fff;
    border-color: #313131;
  }
}

#wrapperThreadSetImg {

}

.photo-item {
  width: 180px;
  height: 180px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    margin-bottom: 25px;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }

  &__media {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }

  &__description {
    text-align: center;
    p {
      @extend .gp-m;
      font-size: 11px;
      text-transform: uppercase;
      color: rgba(0,0,0,0.3);
      margin: 0;
    }
  }
}

.thread-set {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @include media-breakpoint-down(xs) {
    justify-content: space-between;
    margin-bottom: 10px;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  input[type=checkbox]:checked + label,
  input[type=radio]:checked + label {
    background: #313131;
    color: #fff;
    border-color: #313131;
  }

  &__description {
    @extend .gp-n;
    font-size: 13px;
    margin: 0;
    color: #bababa;

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }
}

.place-size {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__field {
    display: flex;
    align-items: center;
    margin-right: 60px;

    @include media-breakpoint-down(md) {
      margin-right: 10px;
    }
    
    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }

    input {
      width: 80px;
      height: 40px;
      background: #eee;
      border-radius: 6px;
      border-color: transparent;

      &:focus {
        border-color: transparent;
        box-shadow: none;
        background: #eee;
      }
    }

    span {
      @extend .gp-m;
      font-size: 12px;
      color: #a4a4a5;
      display: inline-block;
      padding: 0 8px;
    }
  }
}

.file-input-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.reset-margin {
  margin: 0;
}

.upload-file {
  width: 0;
  height: 0;
  opacity: 0;
}

.upload-instruction {
  margin: 30px 0 50px;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;

    &:before {
      content: '.';
      font-size: 15px;
      color: #000;
      line-height: 5px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.user-lettering {
  display: flex;
  margin-bottom: 30px;

  >div {
    &:nth-child(2) {
      @include media-breakpoint-down(md) {
        flex:1;
      }
    }
  }
  
  .has-danger label {
    width: 100%;
    margin: 0;
    border: none;
    font-size: 12px;
  }

  label {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    background: transparent;
    margin-right: 50px;

    @include media-breakpoint-down(md) {
      margin-right: 10px;
    }
  }

  input[type=checkbox] {
    width: 0;
    height: 0;
    opacity: 0;
    float: left;
  }

  input[type=checkbox]:checked + label {
    background: url(../images/user-lettering-check.png) center center no-repeat;
  }

  &__title {
    @extend .gp-m;
    font-size: 12px;
    margin: 0 0 3px;
    color: #000;
  }

  &__field {
    @extend .gp-n;
    color: rgba(0,0,0,0.4);
    font-size: 12px;
    background: #f4f4f4;
    border-radius: 5px;
    height: 44px;
    border-color: transparent;
    resize: none;

    &:focus {
      border-color: transparent;
      background: #f4f4f4;
      box-shadow: none;
    }
    &.reset-height {
      height: auto;
    }
  }
}

.data-politic {
  color: #000;
  line-height: 1.2;
  border-bottom: 1px solid #000;
}

.after-order {
  font-size: 12px;
  @extend .gp-n;
  color: rgba(0,0,0,0.3);
}

.form-wrap {
  margin: 0;
  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
}






.color-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 15px;

  &-title {
    color: #a6a6a6;
    font-size: 14px;
    margin-bottom: 15px;

    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  > label {
    flex-basis: calc(100% / 16);
    margin: 5px;
    max-width: calc(100% / 16);
    min-width: calc(100% / 16);
    width: calc(100% / 16);
    overflow: hidden;
    border: 5px solid rgba(0, 0, 0, 0.5);

    @include media-breakpoint-down(xs) {
      flex-basis: calc(100% / 10);
      max-width: calc(100% / 10);
      min-width: calc(100% / 10);
      width: calc(100% / 10);
      margin: 2.5px;
      border-width: 2.5px;
    }
  }

  input[type=checkbox]:checked + label {
    border-color: #000;
  }

  img {
    width: 100%;
  }

  @include media-breakpoint-down(xs) {
    justify-content: center;
  }
}
