.block-2 {
  background: #f7f7f7;
  padding: 30px 0;

  &-item {
    display: flex;
    align-items: center;
    min-height: 65px;

    @include media-breakpoint-down(md) {
      display: block;
      text-align: center;
    }

    &__media {
      margin-right: 20px;

      @include media-breakpoint-down(md) {
        margin: 0 0 20px;
        height: 70px;
        line-height: 70px;
      }

      svg {
        width: 45px;

        @include media-breakpoint-down(md) {
          vertical-align: middle;
        }
      }
    }

    &__description {

      p {
        font-size: 13px;
        font-weight: 500;
        color: rgba(0,0,0,0.7);
        margin: 0;
      }
    }
  }
}