.block-1 {
  background: url(../images/block-1-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 250px 0 85px;

  @include media-breakpoint-down(sm) {
    padding: 210px 0 55px;
  }

  .container {
    position: relative;
  }

  &__title {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 30px;

    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }

      to {
        opacity: 1;
        transform: none;
      }
    }

    .fadeInDown {
      animation-name: fadeInDown;
    }

    .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
      background: transparent;
      margin-top: 0;
    }

    span {
      display: inline-block;
      color: #000;
      background: #fff;
      line-height: 1.2;
      margin-top: 10px;
      padding: 0 10px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 65px;
    }

    @include media-breakpoint-down(md) {
      font-size: 42px;
    }
    @include media-breakpoint-down(xs) {
      font-size: 32px;
      text-align: center;
    }
  }

  &__subtitle {
    color: #fff;
    padding-left: 25px;
    border-left: 3px solid #fff;
    margin: 0 0 100px;
    line-height: 1.6;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
      margin: 0 0 80px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      display: block;
    }

    &--social {
      display: flex;
      margin: 0;
      padding: 0;

      &__item {
        list-style-type: none;
        padding: 0 8px;

        @include media-breakpoint-down(md) {
          padding: 0 6px;
        }
      }

      &__link {
        display: inline-block;
        svg {
          width: 20px;
          height: 20px;
          fill: #fff;

          @include media-breakpoint-down(md) {
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    &--address {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(md) {
        padding-left: 6px;
        padding-top: 10px;
      }

      &__icon {
        display: inline-block;
        margin-right: 15px;

        svg {
          width: 25px;
          height: 25px;
          fill: #8a8a8a;

          @include media-breakpoint-down(md) {
            width: 20px;
            height: 20px;
          }
        }

        @include media-breakpoint-down(md) {
          margin-right: 10px;
        }
      }

      &__text {
        font-size: 12px;
        font-weight: 700;
        color: #8a8a8a;

        @include media-breakpoint-down(md) {
          font-size: 11px;
        }
      }
    }
  }

  &__man {
    position: absolute;
    right: -145px;
    bottom: -85px;
    z-index: 2;
    max-height: 720px;

    @include media-breakpoint-down(lg) {
      max-width: 700px;
    }

    @include media-breakpoint-down(md) {
      max-width: 540px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 420px;
      bottom: -55px;
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}