.block-8 {

  &-btn-set {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    .btn-light {
      margin: 0 10px;

      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }
    }
  }
}