.cup-title {
  padding: 70px 0;

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }

  &__text {
    @extend .rr;
    margin: 0;
    font-size: 30px;
    color: #000;
    line-height: 1.2;

    @include media-breakpoint-down(sm) {
      font-size: 26px
    }
  }
  .white {
    color: #fff;
  }

  &__icon {
    margin-bottom: 30px;
    margin-top: -20px;
    svg {
      width: 40px;
      height: 40px;
      fill: #ccc;
    }
  }
}