.footer {
  &-lvl-1 {
    padding: 50px 0 45px;

    @include media-breakpoint-down(sm) {
      padding: 35px 0 30px;
    }
  }

  &-item {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: center;
    }

    &__media {
      padding: 0 35px;

      @include media-breakpoint-down(md) {
        padding: 0 25px 0 0;
      }
      @include media-breakpoint-down(xs) {
        padding: 0;
        margin-bottom: 10px;
      }
    }

    &__description {
      p {
        @extend .gp-m;
        font-size: 13px;
        color: #313131;
        margin: 0;

        @include media-breakpoint-down(xs) {
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }

  &-lvl-2 {
    border-top: 1px solid #f4f4f4;
    padding: 20px 0;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }

    &__text {
      font-size: 12px;
      color: #bfbfbf;
      margin: 0;
      display: inline-block;
      text-decoration: none;

      &:hover,
      &:focus,
      &:visited,
      &:active {
        text-decoration: none;
        color: #bfbfbf;
      }
    }

    >div {
      &:first-child {
        @include media-breakpoint-down(sm) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .footer-info__text {
          &:first-child {
            margin: 0 25px;

            @include media-breakpoint-down(md) {
              margin: 0 10px 0 0;
            }

            @include media-breakpoint-down(sm) {
              margin: 0 0 8px;
            }
          }

          &:last-child {
            margin-left: 15px;
            @include media-breakpoint-down(sm) {
              margin: 0 0 5px;
            }
          }
        }
      }
    }
  }
  .border-bottom {
    border-bottom: 1px solid #f0f0f0;
    line-height: 1.2;
  }
}

.black {
  background: transparent;

  svg {
    fill: #000;
  }
}

.social-right {
  justify-content: flex-end;

  @include media-breakpoint-down(sm) {
    justify-content: center;
    margin-top: 20px;
  }
}