doctype html
html
  head
    include includes/head
  body
    .header
      .container
        .row.align-items-center
          .col-xs-12.col-sm-12.col-md-2.col-lg-2
            img(src="../assets/images/logo.png").logo
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            nav.navbar.navbar-expand-lg
              button(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                span.navbar-toggler-icon

              div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                  li.nav-item.active
                    a(href="#").nav-link.text-uppercase РАБОТЫ 
                      span.sr-only (current)
                  li.nav-item
                    a(href="#").nav-link.text-uppercase ЦЕНЫ
                  li.nav-item
                    a(href="#").nav-link.text-uppercase МЕРЧ
                  li.nav-item
                    a(href="#").nav-link.text-uppercase ДОСТАВКА И ОПЛАТА
                  li.nav-item
                    a(href="#").nav-link.text-uppercase FAQ
                  li.nav-item
                    a(href="#").nav-link.text-uppercase КОНТАКТЫ
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .header-action
              div
                p.header-phone +7 999 211 88 77
              div
                button(type="button").btn.btn-light.btn-action.text-uppercase
                  span ЗАКАЗАТЬ ВЫШИВКУ
                  span
                    include ../assets/images/svg/noun_799228_cc.svg
    .content.block-1
      .container
        img(src="../assets/images/pacan.png").block-1__man
        .row
          .col
            h2.block-1__title Делаем крутые<br>вышивки на<br>
              span вашей одежде
            p.block-1__subtitle Уникальность можно купить. <br> Доставим по всей России.
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-6
            .block-1__info
              ul.block-1__info--social
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link
                    include ../assets/images/svg/instagram-logo.svg
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link
                    include ../assets/images/svg/vk-social-network-logo.svg
                li.block-1__info--social__item
                  a(href="#").block-1__info--social__link
                    include ../assets/images/svg/facebook-logo.svg
              .block-1__info--address
                span.block-1__info--address__icon
                    include ../assets/images/svg/noun_1146600_cc.svg
                span.block-1__info--address__text Лофт Проект Этажи, Лиговский пр-кт 74
    .content.block-2
      .container
        .row
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .block-2-item
              .block-2-item__media
                include ../assets/images/svg/noun_1006604_cc.svg
              .block-2-item__description
                p Не нужно ждать Кепка готова в день заказа
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .block-2-item
              .block-2-item__media
                include ../assets/images/svg/noun_1008386_cc.svg
              .block-2-item__description
                p Вышиваем на всем Толстовки, джинсы, обувь, шапки
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .block-2-item
              .block-2-item__media
                include ../assets/images/svg/noun_842994_cc.svg
              .block-2-item__description
                p Не можете определиться? Мы поможем! Проконсультируем по всем вопросама
    .content.block-3
      .container
        .row
          .col
            .cup-title
              h2.cup-title__text.text-center Примеры готовых вышивок
        .row
          .col-xs-12.col-sm-6.col-md-3.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-3.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-3.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-3.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-3.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-3.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-3.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
          .col-xs-12.col-sm-6.col-md-3.col-lg-3
            .product-item
              .product-item__media
                img(src="../assets/images/product-item-1.jpg")
              .product-item__description
                p.product-item__description--text Вышивка логотипа на бейсболке
                p.product-item__description--option Матовые нити, 7х10 см
        .row
          .col.text-center
            a(href="#").show-more
              include ../assets/images/svg/noun_1020876_cc.svg
            p.show-more__description ПОКАЗАТЬ БОЛЬШЕ

